# Python cache
__pycache__/
*.py[cod]
*.pyo
*.py

# Ignore all icons
icons/

# Ignore all assets
assets/

# Ignore all json
*.json

# Ignore specific files
file_version.txt

# Build artifacts
dist/
build/
*.spec

# Virtual environment
venv/
.env/

# System files
.DS_Store
Thumbs.db
